@using Newtonsoft.Json;
@using System.IO;
@model SearchViewModel;

<div class="container-fluid">
    <div class="content">
        <div class="row"><br /></div>
        <div class="row">
            <div class="col-12">
                <form method="post">
                    <div class="btn-group btn-group-toggle btn-group-lg col-12" data-toggle="buttons">
                        <label class="btn btn-danger active col-6">
                            @Html.RadioButton("options", 1) Unit No.
                        </label>
                        <label class="btn btn-danger col-6">
                            @Html.RadioButton("options", 2) Item No.
                        </label>
                    </div>
                    <div class="input-group input-group-lg">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="Searchbar">Search</span>
                        </div>
                        <input type="text" class="form-control" name="search" placeholder="Enter an ID">
                    </div>
                </form>

            </div>
        </div>

        <div class="col-12">


            <div class="row"><br /></div>
            <table class="table table-hover" style="width: 100%;" border="2">
                <tbody>
                    <tr style="background-color: black; color:white;">
                        <th>Results</th>
                    </tr>
                    <tr>
                        <!----  example layout
                               <td>
                            <b>3800734</b></br>
                            3435220</br>
                            Fuel Tank</br>
                        </td>  !-->
                    </tr>

                    @foreach (var item in Model.equipmentBreakdowns)
                    {
                        <tr>
                            <td>
                                <b>@item.ExternalId</b><br />
                                @item.MeterReading<br />
                                @item.EquipmentDescription<br />
                            </td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>
        <!-- /ko -->
